@font-face {
  font-family: "Roboto";
  src: url("../font/roboto.woff2") format("woff2"),
    url("../font/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/robotomedium.woff2") format("woff2"),
    url("../font/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/robotobold.woff2") format("woff2"),
    url("../font/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
  background-color: #859e90;
}
.inner-page .main {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  /* Скопировал из Зеплина =) */
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  background-image: linear-gradient(to top, #ca3824, #f26843);
  text-align: center;
}
.button:hover,
.button:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image:
    linear-gradient(to top, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image:
    linear-gradient(to bottom, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.main-navigation {
  display: flex;
  padding-top: 10px;
}

.page-header .container {
  position: relative;
}

.page-header-logo {
  width: 154px;
}

.main-menu {
  display: flex;
  align-items: center;
}
.main-menu-item {
  padding: 0 10px;
}
.main-menu-item > a {
  font-weight: bold;
  line-height: 18px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-menu-item > a:hover,
.main-menu-item > a:focus,
.main-menu-item > a:active
/* Почему в таком порядке? */ {
  background-color: #f7f6f3;
  border-radius: 50%;
  color: #333;
}
.main-menu-item > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}
.main-menu-item-active > a {
  color: #d07058;
}
.catalog-menu {
  display: none;
  list-style-type: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.catalog-menu-item a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.catalog-menu-item a:hover,
.catalog-menu-item a:focus {
  background-color: #fbded7;
}
.catalog-menu-item a:active {
  background-color: #f6b5a5;
}
.catalog-menu-item-active a {
  background-color: #d07058;
}
.catalog-menu-novelties {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.catalog-menu-novelties a {
  font-weight: 700;
}

.main-navigation-search {
  margin-left: auto;
  width: 33px;
}
.main-navigation-login {
  width: 93px;
}
.main-navigation-cart {
  width: 100px;
}
.main-navigation-login,
.main-navigation-cart {
  margin-left: 10px;
}
.main-navigation-search a,
.main-navigation-login a,
.main-navigation-cart a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.cart-full a {
  color: #323232;
  background-color: #fff;
}
.main-navigation-search a:hover,
.main-navigation-login a:hover,
.main-navigation-search a:focus,
.main-navigation-login a:focus {
  color: #323232;
  background-color: #fff;
}

.popup,
.modal {
  display: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;
}
.popup input[type=text],
.popup input[type=password],
.popup input[type=email],
.popup input[type=search],
.popup textarea,
.modal input[type=text],
.modal input[type=password],
.modal input[type=email],
.modal input[type=search],
.modal textarea {
  background-color: #fff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.popup input[type=text]:hover,
.popup input[type=password]:hover,
.popup input[type=email]:hover,
.popup input[type=search]:hover,
.popup textarea:hover,
.modal input[type=text]:hover,
.modal input[type=password]:hover,
.modal input[type=email]:hover,
.modal input[type=search]:hover,
.modal textarea:hover {
  border-color: rgba(154, 154, 154, 0.52);
}
.popup input[type=text]:focus,
.popup input[type=password]:focus,
.popup input[type=email]:focus,
.popup input[type=search]:focus,
.popup textarea:focus,
.modal input[type=text]:focus,
.modal input[type=password]:focus,
.modal input[type=email]:focus,
.modal input[type=search]:focus,
.modal textarea:focus {
  border-color: rgba(46, 136, 228, 0.52);
}
.popup a {
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.popup a:hover,
.popup a:focus,
.popup a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}
.popup-login a {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
.popup-cart {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}
.popup-cart-form-item-price {
  color: #999;
}
.popup-cart-form-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.page-header-contacts {
  position: absolute;
  right: 27px;
  top: 75px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  font-style: normal;
}
.page-header-contacts a {
  font-size: 22px;
  line-height: 24px;
  color: #fff;
}

.slider {
  height: 550px;
  margin-bottom: 20px;
}
.slider-list {
  list-style-type: none;
}
.slider-list h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}
.slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.slider-nav {
  list-style-type: none;
}
.slider-nav-button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}
.slider-nav-button:hover,
.slider-nav-button:focus {
  background-color: rgba(248, 247, 244, 0.4);
}
.slider-nav-button:active {
  background-color: #fff;
}
.slide-nav-active button {
  background-color: #fff;
}

.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.promo-item {
  width: 560px;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
}
.promo-rasp {
  background-image: url("../img/raspberry.jpg");
}
.promo-chock {
  background-image: url("../img/chockolate.jpg");
}
.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.promo-item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.breadcrumbs a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.page-title {
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
}

.filter {
  width: 880px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter form {
  display: flex;
  flex-wrap: wrap;
}
.filter-item {
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.filter-header {
  font-size: 14px;
  line-height: 16px;
}
.filter select,
.filter button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.filter select {
  border: none;
}
.filter select:hover,
.filter button:hover,
.filter select:focus,
.filter button:focus {
  color: #323232;
}
.filter button {
  border: 2px solid #fff;
}
.filter button:hover,
.filter button:focus {
  background-color: #fff;
}
.filter button:active {
  border: none;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.featured-products {
  margin-bottom: 40px;
}

.catalog-search-result {
  margin-bottom: 80px;
}

.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-grid-item {
  position: relative;
  width: 267px;
  padding-top: 6px;
  /* padding-bottom: 22px; */
}
.catalog-grid-item img {
  width: 267px;
}
.catalog-grid-item:hover,
.catalog-grid-item:focus {
  background-color: #f8f7f4;/*Непонятно, почему фон загораживает контент*/
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.catalog-grid-item a {
  display: block;
}
.catalog-grid-item h3 {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
}
.catalog-grid-item a:hover,
.catalog-grid-item a:focus,
.catalog-grid-item a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.catalog-grid-item-price {
  position: absolute;
  bottom: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.catalog-grid-item-price small {
  font-size: 30px;
}

.features {
  min-height: 307px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-radius: 15px;
  background-image: url("../img/waffle-pattern-small.jpg");
  background-repeat: repeat;
}
.features-info {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  color: #323232;
}
.features-list li {
  width: 546px;
}
.features-list li:nth-child(odd) {
  margin-right: 14px;
}

.article-subscr-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  min-height: 220px;
}
.article {
  width: 560px;
  border-radius: 15px;
  background-image: url("../img/straw-background.jpg");
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}
.article h2 {
  font-weight: 500;
  color: #323232;
}
.article a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}
.article a:hover,
.article a:focus,
.article a:active {
  color: #e84d37;
}

.background-wrapper {
  width: 560px;
  /* Сделал через фон, потому что вырезать рамку - это жесть) */
  background-image: url("../img/post-pattern.png");
  background-repeat: repeat;
  padding: 5px;
  min-height: 220px;
  border-radius: 10px;
}
.subscription {
  background-color: #f8f7f4;
  border-radius: 10px;
}
.subscription-info {
  color: #5a5a5a;
}
.subscription-form input {
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}
.subscription-form input:hover {
  border-color: rgba(154, 154, 154, 0.52);
}
.subscription-form input:focus {
  border-color: rgba(46, 136, 228, 0.52);
}

.map {
  position: relative;
  display: flex;
}
.map img {
  margin: 0 auto;
}
.map .container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.map-contacts {
  width: 302px;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #323232;
  background-color: #fff;
  border-radius: 15px;
}
.map-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.map-phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
}
.map-worktime {
  font-size: 14px;
  line-height: 22px;
}

.modal-feedback {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.pagination-item a {
  color: #fff;
  border-radius: 50%;
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination-item a:active {
  color: #323232;
  background-color: #fff;
}
.pagination-item-active a {
  color: #323232;
  background-color: #fff;
}
.pagination-item-disabled a,
.pagination-item-disabled a:hover,
.pagination-item-disabled a:focus,
.pagination-item-disabled a:active {
  color: rgba(255, 255, 255, 0.2);
  background: none;
}

.page-footer {
  min-height: 104px;
}
.inner-page .page-footer {
  margin-top: 30px;
}
.page-footer .container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.page-footer-socials {
  margin-right: auto;
}
.page-footer-socials a {
  background-color: rgba(255, 255, 255, 0.8);
  background-clip: padding-box;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.page-footer-socials a:hover,
.page-footer-socials a:focus {
  background-color: #fff;
}
.page-footer-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: flex-start;
  height: 50px;
  margin: 0 auto;
}
.page-footer-menu li {
  flex-shrink: 0;
}
.page-footer-menu a {
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
.page-footer-menu a:hover,
.page-footer-menu a:focus,
.page-footer-menu a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.page-footer-menu-vendors a {
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}
.page-footer-copyright {
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
  color: rgba(254, 254, 254, 0.5);
}
.page-footer-copyright-logo {
  display: block;
}
.page-footer-copyright-text-link {
  color: rgba(254, 254, 254, 0.5);
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}
.page-footer-copyright-text-link:hover,
.page-footer-copyright-text-link:focus,
.page-footer-copyright-text-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
